@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>Hi! This is my C# project created for the Relativity Engineering Academy!</p>
    <p>It is currently a WIP, but all pages will be updated soon.</p>
</main>