@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h3>Contact me</h3>

    <p>Feel free to reach out via Email or on GitHub here:</p>
    <address class="space-y-4">
        <a href="mailto:abigailbeneduce@gmail.com">Email</a>
        <a href="https://github.com/AbigailAC" target="_blank" rel="noopener">GitHub</a>
    </address>
</main>