
@{
    ViewBag.Title = "Dashboard";
}
<div class="container mx-w-md bg-light rounded-lg my-4">
 
    <h2 class="text-xl-center">Hi @User.Identity.Name !</h2>
    <p>This is the Author Dashboard, which we're adding many pawsome features to in the future.</p>
    <p>I hope you enjoy the site, and feel free to reach out to <a href="https://github.com/AbigailAC" target="_blank" rel="noopener">AbigailAC</a> (that's me) on Github!</p>
</div>
